@page
@model IndexModel
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DSRProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<div class="text-center">
    @if(Model.Valutes.Count() == 0) {
        <p> No data </p>
    }
    <ul class="list-group">
        @foreach (var valute in Model.Valutes) {
            <div class="form-check" style="display: flex">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <a href="/Details?CharCode=@valute.CharCode" class="link-primary" style="margin-left: 15px;">@valute.Name</a>
            </div>
        }
    </ul>
</div>
